AWS_REGION=eu-central-1
BRONZE_BUCKET_NAME=bronze_bucket_name
SILVER_BUCKET_NAME=silver_bucket_name
GOLD_BUCKET_NAME=gold_bucket_name
POSTGRES_HOST=postgres_host
POSTGRES_PORT=5432
POSTGRES_DB=postgres_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password